<h2  class="page-header red-text">Login</h2>
<form (submit) = "onLoginSubmit()">
 
 <div class="row">
        <div class="input-field col s12">
           <i class="material-icons prefix pink-dark">account_circle</i>
           <input id="username" [(ngModel)] = "username" name="username" type="text" class="validate">
           <label for="username" >Username</label>
        </div>
      </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix pink-dark">lock</i> 
      <input [(ngModel)] = "password" name="password" type="password" class="form-control">
      <label> Password </label>    
    </div>
  </div>

   <input type="submit" class="btn btn-primary red" value="Submit">
   
</form>