<h3  class="page-header center red-text">Login</h3>
<form (ngSubmit) = "onLoginSubmit()">
 
 <div class="row">
        <div class="input-field col s12">
           <i class="material-icons prefix pink-dark">account_circle</i>
           <input id="username" [(ngModel)] = "username" name="username" type="text" class="validate">
           <label for="username" >Username</label>
        </div>
      </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix pink-dark">lock</i> 
      <input [(ngModel)] = "password" name="password" type="password" class="validate">
      <label> Password </label>    
    </div>
  </div>

   <button class="btn btn-primary red">Submit</button> 
   <br />
   <br />
   
   <a class="link pink-text" [routerLink] = "['/forgot/username']"> Forgot Username </a>
   <a class="link pink-text" [routerLink] = "['/forgot/password']"> Forgot Password </a>
   
</form>