<div *ngFor="let profile of profiles; let i = index"> 
<div class="card col s12 m6 l4">
  <div class="card-location">
   <p> {{profile.location.city}}, {{profile.location.state}}, {{profile.location.country}} </p>
   <p> {{profile.sex}} | {{profile.sexualOrientation}} </p>
   <p> {{profile.age}} </p>
  </div>
    <div class="card-image waves-effect waves-block waves-light">
       <img *ngIf="profile.images === null" class="circle profile-img activator" src="../assets/images/defaultProfilePic.png">
        <img *ngIf="profile.images !== null" class="circle profile-img activator" src={{profile.images.gallery[0].url}}>  
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{profile.fname}} {{profile.lname}}<i class="material-icons right grey-text">expand_more</i></span>      
    </div>
    <div class="card-action">
      <div class="col s3"><a href="/profile/{{profile.username}}">Profile</a> </div>
       <div class="right red-text">
         <i *ngIf="profile.status === undefined" (click)="quickReject(profile, i)" class="material-icons right">delete</i> 
         <div *ngIf="profile.status === 'reject'"> Rejected User
              <i (click)="quickRejectRevert(profile, i)" class="material-icons right">undo</i>
         </div>
       
        <i *ngIf="profile.status === undefined" (click)="quickAdd(profile, i)" class="material-icons right">person_add</i>
        <div class="right red-text" *ngIf="profile.status === 'requesting'"> Request Sent
            <i (click)="quickAddRevert(profile, i)" class="material-icons right"> check </i>
        </div>
        <div class="right red-text" *ngIf="profile.status === 'pending'"> Confirm Match
            <i (click)="quickAddRevert(profile, i)" class="material-icons right"> check </i>
        </div>
        
       
      </div>
    </div>
    <div class="card-reveal">
    
      <span class="card-title grey-text text-darken-4"> 
        {{profile.fname}} {{profile.lname}} 
        <i class="material-icons right">expand_less</i>
       
       <div class="card-tabs tabs-fixed-width">
      <ul class="cardTabs" class="tabs tabs-fixed-width center">
        <li class="tab"><a class="active" href="#{{profile.username}}-bio">Biography</a></li>
        <li class="tab"><a href="#{{profile.username}}-db">Dealbreakers <span class="badge red white-text">{{profile.dealbreakers.length}}</span> </a></li>

      </ul>
    </div>
    <div class="card-content">
      <div id="{{profile.username}}-bio">
        
         <p class="tab-text left flow-text"> {{profile.biography}} </p>
      </div>
      <div id="{{profile.username}}-db">
             
        <ul class="tab-text left flow-text"> 
          <li *ngFor="let db of profile.dealbreakers">{{db}}</li>
        </ul>
      
      </div>  
    </div>
      </span>
    </div>
  </div>
</div>
