<div class="container">
<h3>
Terms and Conditions
</h3>
<p>
Last updated: July 2, 2017
</p>
<p>
Please read these Terms and Conditions carefully before using the http://www.dbdating.com  website operated by Dealbreaker Dating.
 
Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
 
By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
 
</p>
<h5>
Users
 </h5>
 <p>
     We do not knowingly contact or collect personal information from children under 13, this website is intended for adult users only, 18 years or older. By accepting these terms you are acknowledging that you are 18 years or older, if you are lieing or have been found to no be of age your account and all of its contents will promptly be terminated. If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental consent or remove the information.

</p>

<h5>
Purchases
 </h5>
 <p>
If you wish to purchase any product or service made available through the Service, you may be asked to supply certain information relevant to your Purchase including, without limitation, your full name, payment information, billing and mailing address.
 
As of now there is no purchasing that can or should be made on this website.
</p>

<h5>
Content
 </h5>
 <p>
Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, images, videos, locaiton, or other material. You are responsible for the content, all of which you are making publicly visible to other users. All content that you upload or submit is submitted at your sole responsibility and discretion and you are giving consent to other users of this website to be able to view this content. 

As of now deletion of any of this conent is at our discretion, contact us directly at dealbdating@gmail.com for deletion requests and we will respond within 30 days.
 </p>

<h5>
Purchases
 </h5>
 <p>
If you wish to purchase any product or service made available through the Service, you may be asked to supply certain information relevant to your Purchase including, without limitation, your full name, payment information, billing and mailing address.
 
As of now there is no purchasing that can or should be made on this website.
</p>

<h5>
Subscriptions
</h5>
<p> 
Some parts of the Service are billed on a subscription basis. You will be billed in advance on a recurring basis based on the purchasing terms.
 
The Subscriptions section is for SaaS businesses. As of now there is no purchasing of subscriptions or subscriptions available, that can or should be made on this website.
 
 </p>
 
 
 
<h5>
Links To Other Web Sites
</h5>

<p>
Our Service may contain links to third-party web sites or services that are not owned or controlled by Dealbreaker Dating.
 
Dealbreaker Dating has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Dealbreaker Dating shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
 
Changes
 
We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
 
</p>
<br />
<br />

<div class="row">
<p class="blue-text">Contact Us: dealbdating@gmail.com<p>
<a [routerLink] = "['/privacy']">Privacy Policy</a>
</div>
</div>