/* You can add global styles to this file, and also import other style files */

.alert-danger {
    padding-left: 20px;
    background-color: red ;
    font-size: 24px;
    color: white;
  }
  

  .alert-success {
       padding-left: 20px;
    background-color: green ;
    font-size: 24px;
    color: white;
  }

  .toast-danger {
    background-color: #E23D28 ;
    font-style: bold ;
    text-align: center;
  }

  .toast-success {
    background-color: #E75480 ;
    font-style: bold ;
   
  }

  .circle {
    border-radius: 50% ;
  }

  .formSuccess {
    color: green !important;
    font-size: 11px;
}

.formError {
    color: red;
    font-size: 11px;
}


@media only screen and (min-width : 601px) and (max-width : 1260px) {
.toast {
width: 50%;
border-radius: 0;} }

@media only screen and (min-width : 1261px) {
.toast {
width: 50%;
border-radius: 0; } }

@media only screen and (min-width : 601px) and (max-width : 1260px) {
#toast-container {
min-width: 50%;
bottom: 0%;
top: 90%;
right: 0%;
left: 0%;} }

@media only screen and (min-width : 1261px) {
  #toast-container {
  text-align: center;
  width: 50%;
  margin: auto 0; 
    
  } 
}