<h2  *ngIf="this.profile == null" class = "header pink-text center flow-text"> Setup Profile </h2>
<h2  *ngIf="this.profile != null" class = "header pink-text center flow-text"> Update Profile </h2>
<form #setupForm="ngForm">
      
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix pink-dark">perm_identity</i>                    
          <input [(ngModel)]="fname" name="fname" id="fname" type="text" class="validate">
          <label class="active" for="fname" data-error="Name Invalid" data-success="Name Valid" >First Name</label>
        </div>
        <div class="input-field col s6">     
          <i class="material-icons prefix pink-dark">perm_identity</i>                                                         
          <input [(ngModel)]="lname" name="lname" id="lname" type="text" class="validate">
          <label class="active" for="lname"  data-error="Name Invalid" data-success="Name Valid" >Last Name</label>
        </div>
      </div>

  <div class = "row">
      <div class="col s3">    
        <label data-error="Field cannot be empty" data-success="" for="female" >Sex</label>   
          <div class="row">
              <input [(ngModel)] = "sex" class="radio" name="sex" value="Male" type="radio" id="male" />
              <label for="male">Male</label>
          
              <input [(ngModel)] = "sex" class="radio" name="sex" value="Female" type="radio" id="female" />
              <label for="female">Female</label>
          </div>
      </div>
    

      <div class="col s6 sex-or">
    <label for="sexualOrientation" data-error="Field cannot be Empty" data-success="" > Sexual Orientation </label> <i class="material-icons tiny pink-dark"> info_outline</i>        
    <select class="browser-default" type="string" [(ngModel)] = "sexualOrientation" name = "sexualOrientation" id="sexualOrientation">
        <option value="" disabled selected="selected">What's your sexuality?</option>
        <option *ngFor="let sexuality of sexualities" [ngValue] = "sexuality" > {{sexuality}} </option>
    </select>
    
  </div>
</div>
 <div class="row">
        <i style="float:left; font-size:35px; padding-left:10px; padding-right:15px;" class="material-icons prefix pink-dark">perm_contact_calendar</i>
         
         <div class="col s3">
          <select class="browser-default" type="string" [(ngModel)] = "dobMonth" name = "dobMonth" id="dobMonth">
            <option value="" disabled selected="selected">Month</option>
            <option *ngFor="let monthPair of monthPairs" [ngValue] = "monthPair.value" > {{monthPair.label}} </option>
          </select>
          <label  for="dobMonth" data-error="Invalid BirthDate" data-success="Valid Birthdate" >Month</label>
        </div>
         
         <div class=" col s3">
            <select class="browser-default" type="number" [(ngModel)] = "dobDay" name='dobDay' id='dobDay'>
               <option value="" disabled selected="selected">Day</option>
                <option *ngFor="let day of dayList" [ngValue] = "day" > {{day}} </option>
          </select>
          <label>Day</label>
        </div>
         
         <div class="col s3">
            <select class="browser-default" [(ngModel)] = "dobYear" name="dobYear" id="dobYear">
                   <option value="" disabled selected="selected">Year</option>
                 <option *ngFor="let year of yearList" [ngValue] = "year" > {{year}} </option>
                </select>
          <label>Year</label> 
        </div>
    </div>
  
  <div class="row">
   <i style="float:left; font-size:35px; padding-left:10px; padding-right:15px;" class="material-icons prefix pink-dark"> my_location </i>    
    <div class="input-field col s6">
      <input  [(ngModel)] = "location" name ="location" id="locationSearch" type="text" placeholder="City, State, Country" size="50">
      <label class="active" for="locationSearch"  data-error="Location Invalid" data-success="Location Valid"  >Location</label>
    </div>
    <button class="btn-floating white locationButton tooltipped" data-position="bottom" data-delay="50" data-tooltip="Current Location" (click) = "getUserLocation()" > <i style="float:left; font-size:30px;" class="material-icons red-text"> my_location </i>  </button>
  </div>


  <div class="row">
   <i style="float:left; font-size:35px; padding-left:10px; padding-right:30px;" class="material-icons prefix pink-dark"> subject </i>    
      <div class="input-field col s6">
        <label for="biography" class="active"  data-error="Must not be empty and less than 400 characters" data-success="" >Biography</label> 
        <textarea [(ngModel)] = "biography" name="biography" id="biography" class="materialize-textarea validate" data-length="400"></textarea>
      </div>
  </div>

<div class = "row">
   <i style="float:left; font-size:35px; padding-top:20px; padding-left:10px; padding-right:15px;" class="material-icons prefix pink-dark"> list </i>    
    <div class="input-field col s6">
      <label for="dealBreakers" class="active" data-error="invalid" data-success="valid" >Deal Breakers <i class="material-icons tiny pink-dark tooltipped" data-position="top" data-delay="50" data-tooltip="What can a partner not do or have?"> info_outline</i> </label>
      <div id="dealBreakers" name="dealBreakers" class="chips chips-intial chips-placeholder validate">
      </div>
    </div>
</div>

  
<div class = "row">
   <i style="float:left; font-size:35px; padding-top:20px; padding-left:10px; padding-right:15px;" class="material-icons prefix pink-dark"> list </i>    
    <div class="input-field col s6">
      <label for="seeking" class=" active">Seeking <i class="material-icons tiny pink-dark tooltipped" data-position="top" data-delay="50" data-tooltip="What are you looking for in a partner?" > info_outline</i> </label>
      <div id="seeking" name="seeking" required="required" aria-required="true" class="chips chips-intial chips-placeholder validate"></div>
    </div> 
</div>


<div class = "row">
    
   <i style="float:left; font-size:35px; padding-top:20px; padding-left:10px; padding-right:15px;" class="material-icons prefix pink-dark"> list </i>    

    <div class="input-field col s6">
      <label for="interests" class="active">Interests <i class="material-icons tiny pink-dark tooltipped" data-position="top" data-delay="50" data-tooltip="What are your hobbies?"> info_outline</i> </label>  
      <div id="interests" name="interests" class="chips chips-intial chips-placeholder"></div>
    </div>
    
</div>   
<br />

  <input *ngIf="this.profile == null" type="button"  (click) = "onSetupSubmit(setupForm)" class="btn btn-primary pink" value="Submit">
  <input *ngIf="this.profile != null" type="button"  (click) = "onSetupSubmit(setupForm)" class="btn btn-primary pink" value="Update">
  
</form>

  
