form {
    margin-bottom: 300px;
    padding-left: 15px;
}

radio {
    padding-left: 15px;
    padding-right: 15px;
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;

 }
 */