form {
    margin-bottom: 300px;
    padding-left: 15px;
}

radio {
    padding-left: 15px;
    padding-right: 15px;
}

i {
    padding-top: 10px;
}
.sex-or{
    float: right !important;
}

.material-icons.pink-dark { color: #E75480; }

/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;

 }
 */
 .pac-container { z-index: 10000 !important; }

.radio {
    margin: auto;
   justify-content: center;
   width: 75px;
}
