
.profileContent{
    position:absolute;

}

.row {
    height: 600px !important;
}

.materialboxed .active{
    left: 0 !important;
}

#profileInfo{
   position: absolute; 
   bottom: 10px; 
   left: 0; 
   width: 100%; 
   text-align: center;
   -webkit-text-fill-color: white;
   padding-bottom: 15px;
}

.carousel {
      height: 600px !important;
}

.carousel-item a {
    max-height: 100% !important;
    min-width: 400px !important;
    
}

.carousel .carousel-item {
    display: none;
    width: 400px !important;
    height: 400px !important;
    position: absolute;
    top: 0;
    left: 0;
}

img {
    width:100%;
}


#profileName {
    top: 0;
    text-align: center;
    font: bold;
    font-size: 48px;
    padding-bottom: 0px;
    padding-top: 15px;
    margin: 0 0 0 0;
}

.nav{
    padding-bottom: 0px;
}

#qualities {
 font-size: 20px;
 text-align: center;
}

#bioText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#badQualities {
float: left;
width: 50%;
}

#goodQualities {
    float: right;
    width: 50%;
}


#menu {
    float:right;
    top:0;
}

#messageMenu {
    float:left;
    top:0;

}
