
.profileContent{
    position:absolute;
}

.container-fluid {
    background-color:white;
    height: 100%;
}


#profileInfo{
   position: absolute; 
   bottom: 10px; 
   left: 0; 
   width: 100%; 
   text-align: center;
   -webkit-text-fill-color: white;
   padding-bottom: 15px;
}

.carousel {
    max-height: 815px;
    background-color: gray;
      
}


.carousel .carousel-item>img {
    max-height: 800px;
    max-width: 800px;
}

#profileName {
    top: 0;
    text-align: center;
    font: bold;
    font-size: 48px;
    padding-bottom: 0px;
    padding-top: 15px;
    margin: 0 0 0 0;
}

.nav{
    padding-bottom: 0px;
}

#bioText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#menu {
    float:right;
    top:0;
}

#messageMenu {
    float:left;
    top:0;

}

img{
   
    margin: auto;
    text-align: center;
    
}


.materialboxed.active {
  
    text-align: center;
     max-height: auto;
}

#qualities {
    font-size: 20px;
    
  
}
div #materialbox-overlay {
    height: 600px;
}

li.list-group-item {
    font-size: 20px;
}

.tabs-vertical .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
}

.tab {
    width:100%;
}
    
li a.active {
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    transition: border-color .5s ease;
    border-right: 2px solid #ee6e73;
}

li.tab :hover{
     border-right: 2px solid lightgray;
}

.chip {
    background-color: #ee6e73;
    color: white;
}

li.indicator {
    height: 10px !important;
}