<div *ngIf="profile">
       <div class="container">
        <div class="row-fluid" *ngIf="gallery != undefined && gallery.length > 0">
          <div  class="carousel center">  
            <a *ngFor="let image of gallery" class="carousel-item"><img class=" materialboxed" src={{image}}></a>
         </div>
         </div>

        <div class = "profileContents">
             <p class="list-group-item" id="profileName"> {{profile.fname}} {{profile.lname}}  </p>  
            <div id="userInfo">
              <p class="list-group-item" style="text-align: center; font-size: 22px;" id="userText"> Sex: {{profile.sex}}   |   Sexual Orienation: {{profile.sexualOrientation}}   |   Location: {{profile.location}} </p>
            </div>

            <div id="bio">
              <h3 class="center"> Biography</h3>
              <p class="list-group-item center" id="bioText"> {{profile.bio}} </p>
            </div>
            
             <div id="qualities" class = "row-fluid">
                <div class="col-md-3">
              <h3 class="center">Deal Breakers</h3>
              <ul>
              <p *ngFor="let db of profile.dealbreakers" class="list-group-item"> {{db}} </p>
              </ul>
              </div>

            <div id="qualities" class = "row-fluid">
                <div class="col-md-3">
                    <h3> Good Qualities </h3>
                    <ul>
                      <p *ngFor="let gq of profile.goodQualities" class="list-group-item"> {{gq}} </p>
                    </ul>
                </div>
                <div  class="col-md-3">
                    <h3> Bad Qualities </h3>
                    <ul>
                      <p *ngFor="let bq of profile.badQualities" class="list-group-item"> {{bq}} </p>
                    </ul>
                </div>            
            </div> 
            </div>            
        </div>
    </div>
</div>

<div *ngIf="profile == null">
  <h2 class="page-header">User Not Found!</h2>
</div>
