 <h1 class="header center pink-text flow-text">Update Account Information</h1>
<div class="row">
      <ul class="tabs">
        <li class="tab col s6"><a href="#emailComp">Email</a></li>
        <li class="tab col s6"><a  href="#passwordComp">Password</a></li>
      </ul>
  
     <div id="emailComp" class="tab-content col s12">
      <app-update-email></app-update-email>
    </div>
    <div id="passwordComp" class="tab-content col s12" >
      <app-update-password></app-update-password>
    </div>
  </div>

  
   
 