<h3 class = "header center red-text"> Register </h3>
<form (submit) = "onRegisterSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix pink-dark">perm_identity</i>                    
          <input [(ngModel)]="fname" name="fname" id="fname" type="text" class="validate">
          <label for="fname" data-error="Name Invalid" data-success="Name Valid" >First Name</label>
        </div>
        <div class="input-field col s6">      
          <i class="material-icons prefix pink-dark">perm_identity</i>                                               
          <input [(ngModel)]="lname" name="lname" id="lname" type="text" class="validate">
          <label for="lname" data-error="Name Invalid" data-success="Name Valid" >Last Name</label>
        </div>  
      </div>
      <div class="row">
        
        <i style="float:left; font-size:35px; padding-left:10px; padding-right:15px;" class="material-icons prefix pink-dark">perm_contact_calendar</i>
        
         <div class="col s3">
          <select class="browser-default" type="number" [(ngModel)] = "dobMonth" name = "dobMonth" id="dobMonth">
            <option value="" disabled selected="selected">Month</option>
            <option *ngFor="let monthPair of monthPairs" [ngValue] = "monthPair.value" > {{monthPair.label}} </option>
          </select>
          <label  class="" for="dobMonth" data-error="Birthdate Invalid" data-success="Birthdate Valid" >Month</label>
        </div>
        
         <div class=" col s3">
            <select class="browser-default" type="number" [(ngModel)] = "dobDay" name='dobDay' id='dobDay'>
               <option value="" disabled selected="selected">Day</option>
                <option *ngFor="let day of dayList" [ngValue] = "day" > {{day}} </option>
          </select>
          <label>Day</label>
        </div>
        
         <div class="col s3">
            <select class="browser-default" [(ngModel)] = "dobYear" name="dobYear" id="dobYear">
                   <option value="" disabled selected="selected">Year</option>
                 <option *ngFor="let year of yearList" [ngValue] = "year" > {{year}} </option>
                </select>
          <label>Year</label>
        </div>
    </div>
      
      <div class="row">
        <div class="input-field col s12">
           <i class="material-icons prefix pink-dark">account_circle</i>
           <input id="username" [(ngModel)] = "username" name="username" type="text" class="validate">
           <label for="username" data-error="Username Invalid" data-success="Username Valid" >Username</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix pink-dark">email</i>
          <input  id="email" [(ngModel)] = "email" name="email" type="text" class="validate">
          <label class="" for="email" data-error="Email Invalid" data-success="Email Valid" >Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix pink-dark">lock</i>
          <input [(ngModel)] = "password" id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix pink-dark">lock</i>          
          <input [(ngModel)] = "cpassword" id="cpassword" name="cpassword" type="password" class="validate">
          <label for="cpassword">Confirm Password</label>
        </div>
      </div>
     
      <div class="row">
      <input type="checkbox" id="terms" />
      <label for="terms">I hereby have read and agree to the </label>
      
      <!-- Modal Trigger -->
      <a class="blue-text text-darken-3 modal-trigger" href="#term"> Terms of Service </a>

      <!-- Modal Structure -->
      <div id="term" class="modal modal-fixed-footer">
        <div class="modal-content">
          <app-terms></app-terms>
        </div>
        <div class="modal-footer">
          <a (click)="agreeTerms(true)" class="modal-action modal-close pink-text waves-effect waves-red btn-flat">Agree</a>          
        </div>
      </div>

       and 
      
       <a class="blue-text text-darken-3 modal-trigger" href="#privacy"> Privacy Policy </a>    
      
       <div id="privacy" class="modal modal-fixed-footer">
        <div class="modal-content">
          <app-privacy-policy></app-privacy-policy>
        </div>
        <div class="modal-footer">
          <a (click)="agreePrivacy(true)" class="modal-action modal-close pink-text waves-effect waves-red btn-flat">Agree</a>
        </div>
      </div>
    </div>

  <input type="submit" class="btn btn-primary pink" value="Submit">
  
   
  <br />
  <br />
  
  <div class="row">
 
  </div>
</form>




  
