.material-icons.pink-dark { color: #E75480; }

form{
 padding-left: 15px;
}

i{
   padding-top: 10px;
   color: pink;
}

.link {
    padding-right: 15px;     
}

.link:hover{
    text-decoration: underline !important;
}
