<h2 class = "header pink-text"> Register </h2>
<form (submit) = "onRegisterSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix pink-dark">perm_identity</i>                    
          <input [(ngModel)]="fname" name="fname" id="fname" type="text" class="validate">
          <label for="name">First Name</label>
        </div>
        <div class="input-field col s6">
                           
          <input [(ngModel)]="lname" name="lname" id="lname" type="text" class="validate">
          <label for="name">Last Name</label>
        </div>
        
      </div>
      <div class="row">
        <div class="input-field col s12">
           <i class="material-icons prefix pink-dark">account_circle</i>
           <input id="username" [(ngModel)] = "username" name="username" type="text" class="validate">
           <label for="username" >Username</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix pink-dark">email</i>
          <input  id="email" [(ngModel)] = "email" name="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix pink-dark">lock</i>
          <input [(ngModel)] = "password" id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix pink-dark">lock</i>          
          <input [(ngModel)] = "cpassword" id="password" name="cpassword" type="password" class="validate">
          <label for="password">Confirm Password</label>
        </div>
      </div>
     
  <input type="submit" class="btn btn-primary pink" value="Submit">
</form>

  
