<div class ="text-center">
  <div class="header center"><h6>Under Development</h6></div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot no-pad-top">
      <div class="container">
        <br /><br />
        <h2 class= "header center red-text text-lighten-2 ">Dealbreaker</h2>
        <div class="row center">
          <h5 class="header col s12 white-text slogan darken-6 "> Know before you start! </h5>
        </div>
        <br><br>
      </div>
      </div>
      <div class="parallax"><img class="responsive-img" src="../../assets/images/home.jpg" alt="Unsplashed background img 1"></div>
      <div class="row center">
          <a id="home-reg" class = "btn btn-large button-front-right red waves-effect waves-light  button-head" data-position="bottom" data-delay="50" data-tooltip="Register Page" [routerLink]="['/register']">Register</a> 
          <a id="home-login"  class = "btn waves-effect button-front-left pink waves-light btn-large button-head" data-position="bottom" data-delay="50" data-tooltip="Login Page" [routerLink]="['/login']">Login</a>  
      </div>
  </div>
  <div class="main container-fluid">
    
    <section>
      <div class="container">
        <div class="row center">
          <img id="match" class="responsive-img" src="../../assets/svg/couple.svg" alt="">
        <h5 class="center heading">Find Your Match!</h5>
        <p class="center desc center-focus bold flow-text"> Each person lists their interests and what they are looking for in their potential matches. However, each profile also contains their deal breakers, to help make a better and quicker descision.
        </p>
    </div>
      </div>
    </section>

    <section>
      <div  class="container"> 
     
        <div class = "row center">
           <img id="community" class="responsive-img" src="../../assets/svg/community.svg" alt="">
            <h5  class="center">Community Feedback</h5>      
            <p class="center desc center-focus bold flow-text">
              Users are able to give feedback on each other by commenting on the user's profile, available for other potential matches to see. This is not a forum for bullying, but will help prevent the creation of malicious profiles.
            </p>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container">
         <div class="row center">
            <img id="quickEasy" class="responsive-img" src="../../assets/svg/fast.svg" alt="">
        <h5 class="center"> Quick and Easy </h5>    
        <p class="center desc center-focus bold flow-text"> 
          Simply browse for users to find your potential match, or navigate to their profile by username. Once added, you can set up dates through messages or exchange contact information and keep it completely private.
        </p>    
    </div>
      </div>
    </section>
    <section id = "donate" >
      <div class="container">
      <div class = "row center">
        <img id="quickEasy" class="responsive-img" src="../../assets/svg/donation.svg" alt="" />
        <br />
        <br />
        <h5 class="center"> Free and Open </h5>    
        <p class="center desc center-focus bold flow-text"> 
          Dealbreaker is a free and open source dating website, supported by the user's choice to donate.
        </p>
    </div>
      </div>
    </section>
  </div>
</div>


