<div class = "jumbotron text-center">
  <h1 class= "center">Welcome to DealBreaker Dating!</h1>
  <div class="center"> 
    <a class = "btn btn-large red waves-effect waves-light" [routerLink]="['/register']">Register</a> 
    <a class = "btnred waves-effect pink waves-light btn-large" [routerLink]="['/login']">Login</a>
  </div>
   <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" src="https://static.pexels.com/photos/6541/sea-man-beach-holiday.jpg"></div>
  </div>

</div>
<div class = "row">
  <div class="col-md-4">
    <h3> Find Your Match! </h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid praesentium exercitationem illum consequuntur voluptatem dolore labore enim eum dolor ut cumque, voluptatum dicta nam beatae ipsum magnam doloribus, sint. Soluta. </p>
  </div>
  <div class="col-md-4">
    <h3> DealBreakers </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ipsum pariatur natus deleniti, doloribus alias placeat odio tenetur sapiente excepturi facere eum aperiam autem odit vel minus, magni. Quos, repellat.</p>
  </div>
  <div class="col-md-4">
    <h3> Connect </h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, aut necessitatibus, assumenda consectetur id tenetur, excepturi nemo nobis facilis repellat consequatur esse quidem illum unde explicabo doloremque maxime quasi ducimus.</p>
  </div>

</div>
