<nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">

 <i id="logo" class="fa fa-heartbeat" style=" font-size: 55px; color: rgb(255, 0, 0); text-align: center;"></i> 
 </a>
        <a href="/" data-activates="mobile-nav" class=" hide-on-med-and-up button-collapse"><i class=" hide-on-med-and-up material-icons">menu</i></a>
        <ul class="left hide-on-small-only">
        <li ><a [routerLink] = "['/']">Home</a></li>
       <!-- <li *ngIf="authService.loggedIn()"><a [routerLink] = "['/dashboard']">Dashboard</a></li> -->
        
        </ul>

          <ul *ngIf="!authService.loggedIn()" class="right hide-on-small-only">
             <li><a [routerLink] = "['/login']">Login</a></li>
            <li><a [routerLink] = "['/register']">Register</a></li>
            </ul>
       
        <ul *ngIf="authService.loggedIn()"  class="right hide-on-small-only">
            <li> <a class='dropdown-button' data-beloworigin="true" data-activates='profileDropDown'> {{authService.getName()}}</a>
                 <ul id="profileDropDown" class="dropdown-content">
                    <li ><a [routerLink] = "['/profile']" class="pink-text">Profile</a></li>
                    <li ><a [routerLink] = "['/profile/images']" class="pink-text">Images</a></li>
                    <li ><a [routerLink] = "['/profile/setup']" class="pink-text">Edit</a></li>                                        
                    <li ><a [routerLink] = "['/account']" class="pink-text">Settings</a></li>                    
                </ul>
            </li>
            <li ><a (click)= "onLogoutClick()" href=""> Logout</a></li>
        </ul>
          
        <ul *ngIf="!authService.loggedIn()" class="side-nav" id="mobile-nav">
            <li ><a [routerLink] = "['/']">Home</a></li>
            <li><a [routerLink] = "['/login']">Login</a></li>
            <li><a [routerLink] = "['/register']">Register</a></li>
        </ul>

         <ul *ngIf="authService.loggedIn()" class="side-nav" id="mobile-nav">
            <li ><a [routerLink] = "['/']">Home</a></li>
            <!-- <li *ngIf="authService.loggedIn()"><a [routerLink] = "['/dashboard']">Dashboard</a></li> -->
            <li><a  [routerLink] = "['/profile']"> {{authService.getName()}} </a></li>            
            <li><a [routerLink] = "['/profile/images']">Images</a></li>   
             <li ><a [routerLink] = "['/profile/setup']" class="pink-text">Edit</a></li>                                        
            <li ><a [routerLink] = "['/account']" class="pink-text">Settings</a></li>        
            <li><a (click)= "onLogoutClick()" href=""> Logout</a></li>
        </ul>
      </div>
      
    </nav>
