<header>
    <div class="navbar-fixed">  
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">
                    <i id="logo" class="fa fa-heartbeat" s></i> 
                </a>

                <a href="/" data-activates="mobile-nav" class=" hide-on-large-only button-collapse"><i id="drawer" class=" hide-on-large-only material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li ><a class="home" [routerLink] = "['/']">Home</a></li>
                    <li *ngIf="authService.loggedIn()"><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Find Your Match!" [routerLink] = "['/browse']"  >Browse</a></li>
                    <!-- <li *ngIf="authService.loggedIn()"><a [routerLink] = "['/dashboard']">Dashboard</a></li> -->
                </ul>

                <ul *ngIf="!authService.loggedIn()" class="right hide-on-med-and-down">
                    <li><a [routerLink] = "['/login']">Login</a></li>
                    <li><a [routerLink] = "['/register']">Register</a></li>
                </ul>
            
                <ul *ngIf="authService.loggedIn()"  class="right hide-on-med-and-down">
                     
                        <a class='dropdown-button' data-beloworigin="true" data-activates='profileDropDown'> {{authService.getName()}} <i class="material-icons right">arrow_drop_down</i> 
                        </a>
                    
                        <ul id="profileDropDown" class="dropdown-content">
                            <li class="tooltipped" data-position="left" data-delay="50" data-tooltip="Action Center"><a [routerLink] = "['/dashboard']" class="pink-text  darken-3"> <i class="material-icons prefix">person_outline</i>  Dashboard</a></li>
                            <li class="tooltipped" data-position="left" data-delay="50" data-tooltip="Add/Remove Profile Images"><a [routerLink] = "['/profile/images']" class="pink-text  darken-3"> <i class="material-icons prefix">images</i>  Images</a></li>
                            <li class="tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Location/Information"><a [routerLink] = "['/profile/setup']" class="pink-text  darken-3"> <i class="material-icons prefix">mode_edit</i>  Edit</a></li>                                        
                            <li class="tooltipped" data-position="left" data-delay="50" data-tooltip="Change Account Details" ><a [routerLink] = "['/account']" class="pink-text darken-3"> <i class="material-icons prefix">settings</i>  Settings</a></li>  
                            <li class="tooltipped" data-position="left" data-delay="50" data-tooltip="Logout?" ><a class="pink-text darken-3" (click)= "onLogoutClick()"> <i class="material-icons prefix">power_settings_new</i> Log Out  </a></li>                  
                        </ul>
                    
                    
                </ul>
            </div>
        </nav>
    </div>

            
        <ul *ngIf="!authService.loggedIn()" class="side-nav" id="mobile-nav">
            <li><a [routerLink] = "['/']">Home</a></li>
            <li><a [routerLink] = "['/login']">Login</a></li>
            <li><a [routerLink] = "['/register']">Register</a></li>
        </ul>

        <ul *ngIf="authService.loggedIn()" class="side-nav" id="mobile-nav">
            <li>
                <div class="user-view">
                <a href="#!name"><span class="red-text darken-3 name"> <i class="material-icons  darken-3 left">face</i>  {{authService.getName()}}</span></a>
                </div>
            </li>
            <li > <a class="home pink-text darken-3" [routerLink] = "['/']"> <i class="material-icons pink-text  darken-3 left">home</i>Home</a> </li>
            <li *ngIf="authService.loggedIn()"> <a class="pink-text  darken-3" [routerLink] = "['/browse']"> <i class="material-icons pink-text  darken-3 left">group</i> Browse </a> </li>
            <!-- <li *ngIf="authService.loggedIn()"><a [routerLink] = "['/dashboard']">Dashboard</a></li> -->
            <li> <a class="pink-text  darken-3"  [routerLink] = "['/dashboard']"> <i class="material-icons pink-text  darken-3 left">person_outline</i> Dashboard </a> </li>            
            <li> <a class="pink-text  darken-3" [routerLink] = "['/profile/images']"> <i class="material-icons pink-text  darken-3 left">images</i> Images </a> </li>   
            <li> <a [routerLink] = "['/profile/setup']" class="pink-text  darken-3"> <i class="material-icons pink-text  darken-3 left">mode_edit</i> Edit </a> </li>                                        
            <li> <a [routerLink] = "['/account']" class="pink-text  darken-3"> <i class="material-icons pink-text  darken-3 left">settings</i> Settings </a> </li>        
            <li> <a class="pink-text  darken-3" (click)= "onLogoutClick()"> <i class="material-icons pink-text  darken-3 left">power_settings_new</i> Logout </a> </li>
        </ul>
  
</header>