nav{
  padding-left:10px;
  padding-right: 15px;
  height: 50px;
  line-height: 50px;
}

#drawer {
  height: 50px;
  line-height: 50px;
}

.navbar-fixed {
  height: 50px;
}

.grad-dark{

  background: lightgray; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, lightgray, pink); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, lightgray, pink); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, lightgray, pink); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, lightgray, pink); /* Standard syntax */

}


#logo {
  text-shadow: 1px 1px 1px red; 
  -webkit-transition:all 0.7s ease-in-out;
    font-size: 45px; color: pink; 
    line-height: 50px;
    text-align: center;
    padding-right: 0px;
    padding-left: 20px;
}

li > a:hover {
  background-color: lightgray;
  color: #C12957;
}

#logo:hover {
  text-shadow: 1px 1px 1px pink; 
  -webkit-transition:all 0.7s ease-in-out;
    text-align: center;
}

.btn{
  margin-left: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-button {
  width: 150px;
}

.dropdown-button i {
  line-height: 50px;
}

.dropdown-content li a {
  font-size: 15px;
}

.dropdown-content li>a>i {
  font-size: 20px;
  margin-right: 5px;
}

.side-nav {
  background-color: whitesmoke;
}

.pad-left {
  padding-left: 75px;
}