<h2 class = "header pink-text center flow-text"> Add Profile Images </h2>
<form style="padding-top: 15px; padding-left: 15px;" action="#">
<div class="fileUpload"> 
 <div class="file-field input-field">
      <div class="btn red">
        <span>File</span>
  <input type="file" id="file-input" (change)="onFileChosen($event.target.files)">
 
  </div>
      <div style="padding-bottom: 50px;" class="file-path-wrapper">
        <input class="file-path validate"  type="text">
      </div>
    </div>
<button  class="btn btn-primary red" (click)="uploadFile()"> Save Image </button>
<div class="filePreview">
    <output id="list"></output>
</div>
</div>
</form>
<div id="currentImages"> 
  <app-image-manage></app-image-manage>
  
</div>