  <form #passwordForm="ngForm" class="col s12">
      <div class="input-field col s12">
          <i class="material-icons prefix pink-dark">lock</i>          
          <input [(ngModel)] = "password" id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix pink-dark">lock</i>          
          <input [(ngModel)] = "cpassword" id="password" name="cpassword" type="password" class="validate">
          <label for="password">Confirm Password</label>
        </div>
  
  <input *ngIf="this.token == undefined" type="button" (click) = "updatePassword(passwordForm)" class="btn btn-primary pink" value="Submit">
  <input *ngIf="this.token != undefined" type="button" (click) = "resetPassword(passwordForm)" class="btn btn-primary pink" value="Reset Password">
  
</form>